<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.2/socket.io.js"></script>

<script>
    var now = io.connect('http://localhost:10000/');


    now.on('connect', function () {
        console.log('Connected!');
    });

    now.on('now', function (now) {
        console.log('got event......');
        console.log(now);
    });
</script>