.device {
    height: 100px;
    width: 100px;
    border: 1px solid greenyellow;
    background-color: greenyellow;
    border-radius: 9px;
    word-break: break-all;
    display:inline-block;
    position:relative;
}